langchain==0.1.15
langchain_community==0.0.32
langchain_core==0.1.41
langchain_openai==0.1.2
langchain_pinecone==0.1.0
langsmith==0.1.43
python-dotenv==1.0.1
streamlit==1.31.1
streamlit_chat==0.1.1
streamlit_option_menu==0.3.12
